In [25]:
from pyspark.sql.functions import * 
from pyspark.sql.types import *
from pyspark.sql import SparkSession

# SILVER LAYER SCRIPT

### DATA ACCESS USING APP

USE your credentials here

### DATA LOADING

#### Reading Data

In [3]:
 
# Import
from pyspark.sql import SparkSession

# Create SparkSession
spark = SparkSession.builder.master("local[1]").appName("silver_layer").getOrCreate()

In [28]:
df_cal = spark.read.csv("C:/Users/nedun/Documents/Mona/DE/Projects/AdventureWorks/AdventureWorks_Calendar.csv", header=True)
df_cal.printSchema()

root
 |-- Date: string (nullable = true)

In [46]:
df_cus = spark.read.csv("C:/Users/nedun/Documents/Mona/DE/Projects/AdventureWorks/AdventureWorks_Customers.csv", header=True)
df_cus.printSchema()

root
 |-- CustomerKey: string (nullable = true)
 |-- Prefix: string (nullable = true)
 |-- FirstName: string (nullable = true)
 |-- LastName: string (nullable = true)
 |-- BirthDate: string (nullable = true)
 |-- MaritalStatus: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- EmailAddress: string (nullable = true)
 |-- AnnualIncome: string (nullable = true)
 |-- TotalChildren: string (nullable = true)
 |-- EducationLevel: string (nullable = true)
 |-- Occupation: string (nullable = true)
 |-- HomeOwner: string (nullable = true)

In [74]:
df_procat = spark.read.csv("C:/Users/nedun/Documents/Mona/DE/Projects/AdventureWorks/AdventureWorks_Product_Categories.csv", header=True)
df_procat.printSchema()

root
 |-- ProductCategoryKey: string (nullable = true)
 |-- CategoryName: string (nullable = true)

In [56]:
df_pro = spark.read.csv("C:/Users/nedun/Documents/Mona/DE/Projects/AdventureWorks/AdventureWorks_Products.csv", header=True)
df_pro.printSchema()

root
 |-- ProductKey: string (nullable = true)
 |-- ProductSubcategoryKey: string (nullable = true)
 |-- ProductSKU: string (nullable = true)
 |-- ProductName: string (nullable = true)
 |-- ModelName: string (nullable = true)
 |-- ProductDescription: string (nullable = true)
 |-- ProductColor: string (nullable = true)
 |-- ProductSize: string (nullable = true)
 |-- ProductStyle: string (nullable = true)
 |-- ProductCost: string (nullable = true)
 |-- ProductPrice: string (nullable = true)

In [60]:
df_ret = spark.read.csv("C:/Users/nedun/Documents/Mona/DE/Projects/AdventureWorks/AdventureWorks_Returns.csv", header=True)
df_ret.printSchema()

root
 |-- ReturnDate: string (nullable = true)
 |-- TerritoryKey: string (nullable = true)
 |-- ProductKey: string (nullable = true)
 |-- ReturnQuantity: string (nullable = true)

In [62]:
df_ter = spark.read.csv("C:/Users/nedun/Documents/Mona/DE/Projects/AdventureWorks/AdventureWorks_Territories.csv", header=True)
df_ter.printSchema()

root
 |-- SalesTerritoryKey: string (nullable = true)
 |-- Region: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- Continent: string (nullable = true)

In [53]:
df_subcat = spark.read.csv("C:/Users/nedun/Documents/Mona/DE/Projects/AdventureWorks/AdventureWorks_Product_Subcategories.csv", header=True)
df_subcat.printSchema()

root
 |-- ProductSubcategoryKey: string (nullable = true)
 |-- SubcategoryName: string (nullable = true)
 |-- ProductCategoryKey: string (nullable = true)

In [35]:
df_sales2015 = spark.read.csv("C:/Users/nedun/Documents/Mona/DE/Projects/AdventureWorks/AdventureWorks_Sales_2015.csv", header=True)
df_sales2015.printSchema()

root
 |-- OrderDate: string (nullable = true)
 |-- StockDate: string (nullable = true)
 |-- OrderNumber: string (nullable = true)
 |-- ProductKey: string (nullable = true)
 |-- CustomerKey: string (nullable = true)
 |-- TerritoryKey: string (nullable = true)
 |-- OrderLineItem: string (nullable = true)
 |-- OrderQuantity: string (nullable = true)

In [36]:
df_sales2016 = spark.read.csv("C:/Users/nedun/Documents/Mona/DE/Projects/AdventureWorks/AdventureWorks_Sales_2016.csv", header=True)
df_sales2016.printSchema()

root
 |-- OrderDate: string (nullable = true)
 |-- StockDate: string (nullable = true)
 |-- OrderNumber: string (nullable = true)
 |-- ProductKey: string (nullable = true)
 |-- CustomerKey: string (nullable = true)
 |-- TerritoryKey: string (nullable = true)
 |-- OrderLineItem: string (nullable = true)
 |-- OrderQuantity: string (nullable = true)

In [37]:
df_sales2017 = spark.read.csv("C:/Users/nedun/Documents/Mona/DE/Projects/AdventureWorks/AdventureWorks_Sales_2017.csv", header=True)
df_sales2017.printSchema()

root
 |-- OrderDate: string (nullable = true)
 |-- StockDate: string (nullable = true)
 |-- OrderNumber: string (nullable = true)
 |-- ProductKey: string (nullable = true)
 |-- CustomerKey: string (nullable = true)
 |-- TerritoryKey: string (nullable = true)
 |-- OrderLineItem: string (nullable = true)
 |-- OrderQuantity: string (nullable = true)

### TRANSFORMATIONS

#### Calendar

In [43]:
df_cal.show(5)

+--------+-----+----+
|    Date|Month|Year|
+--------+-----+----+
|1/1/2015| null|null|
|1/2/2015| null|null|
|1/3/2015| null|null|
|1/4/2015| null|null|
|1/5/2015| null|null|
+--------+-----+----+
only showing top 5 rows

In [41]:
df_cal = df_cal.withColumn('Month',month(col('Date')))\
            .withColumn('Year',year(col('Date')))

#### Customers

In [47]:
df_cus.show(5)

+-----------+------+---------+--------+---------+-------------+------+--------------------+------------+-------------+--------------+------------+---------+
|CustomerKey|Prefix|FirstName|LastName|BirthDate|MaritalStatus|Gender|        EmailAddress|AnnualIncome|TotalChildren|EducationLevel|  Occupation|HomeOwner|
+-----------+------+---------+--------+---------+-------------+------+--------------------+------------+-------------+--------------+------------+---------+
|      11000|   MR.|      JON|    YANG| 4/8/1966|            M|     M|jon24@adventure-w...|    $90,000 |            2|     Bachelors|Professional|        Y|
|      11001|   MR.|   EUGENE|   HUANG|5/14/1965|            S|     M|eugene10@adventur...|    $60,000 |            3|     Bachelors|Professional|        N|
|      11002|   MR.|    RUBEN|  TORRES|8/12/1965|            M|     M|ruben35@adventure...|    $60,000 |            3|     Bachelors|Professional|        Y|
|      11003|   MS.|  CHRISTY|     ZHU|2/15/1968|            S|     F|christy12@adventu...|    $70,000 |            0|     Bachelors|Professional|        N|
|      11004|  MRS.|ELIZABETH| JOHNSON| 8/8/1968|            S|     F|elizabeth5@advent...|    $80,000 |            5|     Bachelors|Professional|        Y|
+-----------+------+---------+--------+---------+-------------+------+--------------------+------------+-------------+--------------+------------+---------+
only showing top 5 rows

In [49]:
df_cus.withColumn("fullName",concat(col('Prefix'),lit(' '),col('FirstName'),lit(' '),col('LastName'))).show(5)

+-----------+------+---------+--------+---------+-------------+------+--------------------+------------+-------------+--------------+------------+---------+--------------------+
|CustomerKey|Prefix|FirstName|LastName|BirthDate|MaritalStatus|Gender|        EmailAddress|AnnualIncome|TotalChildren|EducationLevel|  Occupation|HomeOwner|            fullName|
+-----------+------+---------+--------+---------+-------------+------+--------------------+------------+-------------+--------------+------------+---------+--------------------+
|      11000|   MR.|      JON|    YANG| 4/8/1966|            M|     M|jon24@adventure-w...|    $90,000 |            2|     Bachelors|Professional|        Y|        MR. JON YANG|
|      11001|   MR.|   EUGENE|   HUANG|5/14/1965|            S|     M|eugene10@adventur...|    $60,000 |            3|     Bachelors|Professional|        N|    MR. EUGENE HUANG|
|      11002|   MR.|    RUBEN|  TORRES|8/12/1965|            M|     M|ruben35@adventure...|    $60,000 |            3|     Bachelors|Professional|        Y|    MR. RUBEN TORRES|
|      11003|   MS.|  CHRISTY|     ZHU|2/15/1968|            S|     F|christy12@adventu...|    $70,000 |            0|     Bachelors|Professional|        N|     MS. CHRISTY ZHU|
|      11004|  MRS.|ELIZABETH| JOHNSON| 8/8/1968|            S|     F|elizabeth5@advent...|    $80,000 |            5|     Bachelors|Professional|        Y|MRS. ELIZABETH JO...|
+-----------+------+---------+--------+---------+-------------+------+--------------------+------------+-------------+--------------+------------+---------+--------------------+
only showing top 5 rows

In [51]:
df_cus = df_cus.withColumn('fullName',concat_ws(' ',col('Prefix'),col('FirstName'),col('lastName')))

In [52]:
df_cus.show(5)

+-----------+------+---------+--------+---------+-------------+------+--------------------+------------+-------------+--------------+------------+---------+--------------------+
|CustomerKey|Prefix|FirstName|LastName|BirthDate|MaritalStatus|Gender|        EmailAddress|AnnualIncome|TotalChildren|EducationLevel|  Occupation|HomeOwner|            fullName|
+-----------+------+---------+--------+---------+-------------+------+--------------------+------------+-------------+--------------+------------+---------+--------------------+
|      11000|   MR.|      JON|    YANG| 4/8/1966|            M|     M|jon24@adventure-w...|    $90,000 |            2|     Bachelors|Professional|        Y|        MR. JON YANG|
|      11001|   MR.|   EUGENE|   HUANG|5/14/1965|            S|     M|eugene10@adventur...|    $60,000 |            3|     Bachelors|Professional|        N|    MR. EUGENE HUANG|
|      11002|   MR.|    RUBEN|  TORRES|8/12/1965|            M|     M|ruben35@adventure...|    $60,000 |            3|     Bachelors|Professional|        Y|    MR. RUBEN TORRES|
|      11003|   MS.|  CHRISTY|     ZHU|2/15/1968|            S|     F|christy12@adventu...|    $70,000 |            0|     Bachelors|Professional|        N|     MS. CHRISTY ZHU|
|      11004|  MRS.|ELIZABETH| JOHNSON| 8/8/1968|            S|     F|elizabeth5@advent...|    $80,000 |            5|     Bachelors|Professional|        Y|MRS. ELIZABETH JO...|
+-----------+------+---------+--------+---------+-------------+------+--------------------+------------+-------------+--------------+------------+---------+--------------------+
only showing top 5 rows

#### Sub Categories

In [54]:
df_subcat.show(5)

+---------------------+---------------+------------------+
|ProductSubcategoryKey|SubcategoryName|ProductCategoryKey|
+---------------------+---------------+------------------+
|                    1| Mountain Bikes|                 1|
|                    2|     Road Bikes|                 1|
|                    3|  Touring Bikes|                 1|
|                    4|     Handlebars|                 2|
|                    5|Bottom Brackets|                 2|
+---------------------+---------------+------------------+
only showing top 5 rows

#### Products

In [57]:
df_pro.show(5)

+----------+---------------------+----------+--------------------+-------------------+--------------------+------------+-----------+------------+-----------+------------+
|ProductKey|ProductSubcategoryKey|ProductSKU|         ProductName|          ModelName|  ProductDescription|ProductColor|ProductSize|ProductStyle|ProductCost|ProductPrice|
+----------+---------------------+----------+--------------------+-------------------+--------------------+------------+-----------+------------+-----------+------------+
|       214|                   31| HL-U509-R|Sport-100 Helmet,...|          Sport-100|Universal fit, we...|         Red|          0|           0|    13.0863|       34.99|
|       215|                   31|   HL-U509|Sport-100 Helmet,...|          Sport-100|Universal fit, we...|       Black|          0|           0|    12.0278|     33.6442|
|       218|                   23| SO-B909-M|Mountain Bike Soc...|Mountain Bike Socks|Combination of na...|       White|          M|           U|     3.3963|         9.5|
|       219|                   23| SO-B909-L|Mountain Bike Soc...|Mountain Bike Socks|Combination of na...|       White|          L|           U|     3.3963|         9.5|
|       220|                   31| HL-U509-B|Sport-100 Helmet,...|          Sport-100|Universal fit, we...|        Blue|          0|           0|    12.0278|     33.6442|
+----------+---------------------+----------+--------------------+-------------------+--------------------+------------+-----------+------------+-----------+------------+
only showing top 5 rows

In [58]:
df_pro = df_pro.withColumn('ProductSKU',split(col('ProductSKU'),'-')[0])\
                .withColumn('ProductName',split(col('ProductName'),' ')[0])

In [59]:
df_pro.show(5)

+----------+---------------------+----------+-----------+-------------------+--------------------+------------+-----------+------------+-----------+------------+
|ProductKey|ProductSubcategoryKey|ProductSKU|ProductName|          ModelName|  ProductDescription|ProductColor|ProductSize|ProductStyle|ProductCost|ProductPrice|
+----------+---------------------+----------+-----------+-------------------+--------------------+------------+-----------+------------+-----------+------------+
|       214|                   31|        HL|  Sport-100|          Sport-100|Universal fit, we...|         Red|          0|           0|    13.0863|       34.99|
|       215|                   31|        HL|  Sport-100|          Sport-100|Universal fit, we...|       Black|          0|           0|    12.0278|     33.6442|
|       218|                   23|        SO|   Mountain|Mountain Bike Socks|Combination of na...|       White|          M|           U|     3.3963|         9.5|
|       219|                   23|        SO|   Mountain|Mountain Bike Socks|Combination of na...|       White|          L|           U|     3.3963|         9.5|
|       220|                   31|        HL|  Sport-100|          Sport-100|Universal fit, we...|        Blue|          0|           0|    12.0278|     33.6442|
+----------+---------------------+----------+-----------+-------------------+--------------------+------------+-----------+------------+-----------+------------+
only showing top 5 rows

#### Returns

In [61]:
df_ret.show(5)

+----------+------------+----------+--------------+
|ReturnDate|TerritoryKey|ProductKey|ReturnQuantity|
+----------+------------+----------+--------------+
| 1/18/2015|           9|       312|             1|
| 1/18/2015|          10|       310|             1|
| 1/21/2015|           8|       346|             1|
| 1/22/2015|           4|       311|             1|
|  2/2/2015|           6|       312|             1|
+----------+------------+----------+--------------+
only showing top 5 rows

#### Territories

In [63]:
df_ter.show(5)

+-----------------+---------+-------------+-------------+
|SalesTerritoryKey|   Region|      Country|    Continent|
+-----------------+---------+-------------+-------------+
|                1|Northwest|United States|North America|
|                2|Northeast|United States|North America|
|                3|  Central|United States|North America|
|                4|Southwest|United States|North America|
|                5|Southeast|United States|North America|
+-----------------+---------+-------------+-------------+
only showing top 5 rows

#### Sales

In [64]:
df_sales2015.show(5)

+---------+----------+-----------+----------+-----------+------------+-------------+-------------+
|OrderDate| StockDate|OrderNumber|ProductKey|CustomerKey|TerritoryKey|OrderLineItem|OrderQuantity|
+---------+----------+-----------+----------+-----------+------------+-------------+-------------+
| 1/1/2015| 9/21/2001|    SO45080|       332|      14657|           1|            1|            1|
| 1/1/2015| 12/5/2001|    SO45079|       312|      29255|           4|            1|            1|
| 1/1/2015|10/29/2001|    SO45082|       350|      11455|           9|            1|            1|
| 1/1/2015|11/16/2001|    SO45081|       338|      26782|           6|            1|            1|
| 1/2/2015|12/15/2001|    SO45083|       312|      14947|          10|            1|            1|
+---------+----------+-----------+----------+-----------+------------+-------------+-------------+
only showing top 5 rows

In [65]:
df_sales2015 = df_sales2015.withColumn('StockDate',to_timestamp('StockDate'))

In [68]:
df_sales2015 = df_sales2015.withColumn('OrderNumber',regexp_replace(col('OrderNumber'),'S','T'))

In [69]:
df_sales2015 = df_sales2015.withColumn('multiply',col('OrderLineItem')*col('OrderQuantity'))

In [71]:
df_sales2015.show(5)

+---------+---------+-----------+----------+-----------+------------+-------------+-------------+--------+
|OrderDate|StockDate|OrderNumber|ProductKey|CustomerKey|TerritoryKey|OrderLineItem|OrderQuantity|multiply|
+---------+---------+-----------+----------+-----------+------------+-------------+-------------+--------+
| 1/1/2015|     null|    TO45080|       332|      14657|           1|            1|            1|     1.0|
| 1/1/2015|     null|    TO45079|       312|      29255|           4|            1|            1|     1.0|
| 1/1/2015|     null|    TO45082|       350|      11455|           9|            1|            1|     1.0|
| 1/1/2015|     null|    TO45081|       338|      26782|           6|            1|            1|     1.0|
| 1/2/2015|     null|    TO45083|       312|      14947|          10|            1|            1|     1.0|
+---------+---------+-----------+----------+-----------+------------+-------------+-------------+--------+
only showing top 5 rows

#### Sales Analysis

In [72]:
df_sales2015.groupBy('OrderDate').agg(count('OrderNumber').alias('total_order')).show(5)

+----------+-----------+
| OrderDate|total_order|
+----------+-----------+
| 2/27/2015|          3|
|11/14/2015|          5|
| 1/15/2015|          7|
| 8/31/2015|         12|
|11/26/2015|          6|
+----------+-----------+
only showing top 5 rows

In [75]:
df_procat.show(5)

+------------------+------------+
|ProductCategoryKey|CategoryName|
+------------------+------------+
|                 1|       Bikes|
|                 2|  Components|
|                 3|    Clothing|
|                 4| Accessories|
+------------------+------------+

In [76]:
df_ter.show(5)

+-----------------+---------+-------------+-------------+
|SalesTerritoryKey|   Region|      Country|    Continent|
+-----------------+---------+-------------+-------------+
|                1|Northwest|United States|North America|
|                2|Northeast|United States|North America|
|                3|  Central|United States|North America|
|                4|Southwest|United States|North America|
|                5|Southeast|United States|North America|
+-----------------+---------+-------------+-------------+
only showing top 5 rows